<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trips</title>
</head>
<body>
    <nav>
        <% if (!currentUser) {%>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        <% } else {%>  
            <a href="/logout">Log Out</a>
        <% } %> 
    </nav>
    <h1>**INDEX PAGE**</h1>
    <p><%= success %> </p>
    <h3>All trips</h3>
    <% if (currentUser) {%> 
    <p><%= currentUser.username %></p>
    <% } %> 
    <p><%= deleted %> </p>
    <a href="/trips/new">Post a trip</a>
    <% for (let t of trip){ %>
        <li><a href="/trips/<%= t._id %>"><%= t.place %></a></li>
    <% } %>  
</body>
</html>