<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        .img {
            width: 300px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>**DETAILS PAGE**</h1>
    <div>
        <p><%= success %> </p>
        <p><%= deleted %> </p>
        <h1><%= trip.place %></h1>
        <h2><%= trip.owner.username %></h2>
        <img class="img" src="https://images.unsplash.com/photo-1567693221917-fefc994808ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=877&q=80" alt="">
        <p><%= trip.description %></p>
        <% if(currentUser) {%> 
        <form action="/trips/<%= trip._id %>/comments" method="POST">
            <h2>Comments:</h2>
            <label for="comment">Add comment</label>
            <br>
            <textarea name="comment[body]" id="comment" cols="30" rows="4" required></textarea>
            <button>Add</button>
        </form>
        <% } %> 
        <div>
            <% for(c of trip.comments){ %>
                <p><b><%= c.owner.username %> - </b></p> 
                <p><%= c.body %></p>
                <% if(currentUser && c.owner.equals(currentUser._id)) {%> 
                <form action="/trips/<%= trip._id%>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
                <% } %> 
            <% } %> 
        </div>
        <button><a href="/trips">Go Back</a></button><br>
        <% if(currentUser && trip.owner.equals(currentUser._id)) {%> 
        <button><a href="/trips/<%= trip._id %>/edit">Edit</a></button>
        <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <% } %> 
    </div>
</body>
</html>