<% layout('./layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <h1 class="new">Edit Trip</h1>
    <div class="main">
        <div class="container">
            <form action="/trips/<%= trip._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="place">Edit Location</label>
                    <br>
                    <input class="normalInput" type="text" name="trip[place]" id="place" value="<%= trip.place%>" required>
                </div>
                <div>
                    <label for="description">Edit Description</label>
                    <br>
                    <textarea name="trip[description]" id="description" cols="30" rows="4"
                        required><%= trip.description%></textarea>
                </div>
                <div>
                    <label for="image">Image:</label>
                    <br>
                    <input class="upload" type="file" name="image" id="image" multiple>
                </div>
                <div class="images">
                    <% trip.images.forEach(function(img, i) { %>
                        <img src="<%= img.url %>" alt="...">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        <label for="image-<%= i %>">Delete</label>
                        <% }) %>
                </div>

                <button>Edit</button>
            </form>
        </div>
    </div>