<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/show.css">
    <div class="main">
        <div>
            <p>
                <%= success %>
            </p>
            <p>
                <%= deleted %>
            </p>
            <div class="grid-container">
                <div class="grid-item-1">
                    <h1 class="title">
                        <%= trip.place %>
                    </h1>
                    <h2>
                        <%= trip.owner.username %>
                    </h2>
                </div>
                <div class="grid-item-2">
                    <% if(currentUser && trip.owner.equals(currentUser._id)) {%>
                        <button><a href="/trips/<%= trip._id %>/edit">Edit</a></button>
                        <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                        <% } %>
                </div>
                <div class="container">
                <div class="glide">
                    <div class="glide__track" data-glide-el="track"> 
                        
                        <ul class="glide__slides">
                            <% for (let img of trip.images) {%>
                            <li class="glide__slide">
                                <img class="img" src="<%= img.url %>" alt="">
                                <% } %>
                            </li>
                        </ul>
                        <% if (trip.images.length > 1) {%>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
                          </div>
                        <% } %> 
                    </div>
                </div>
            </div>
                <div class="grid-item-4">
                    <div id='map' style='width: 600px; height: 400px; border-radius: 5px;'></div>
                </div>
                <div class="grid-item-5">
                    <div class="styles">
                    <h2>Description-</h2>
                    <p><%= trip.description %></p>
                </div>
                </div>
                <div class="grid-item-6">
                    <% if(currentUser) {%>
                        <form class="commentForm" action="/trips/<%= trip._id %>/comments" method="POST">
                            <h2>Comments:</h2>
                            <label for="comment">Add a comment</label>
                            <br>
                            <textarea name="comment[body]" id="comment" cols="30" rows="4" required></textarea>
                            <br>
                            <button class="add">Add</button>
                        </form>
                        <% } %>
                            <div class="comments">
                                <% for(c of trip.comments){ %>
                                    <ul>
                                        <li><b></b><%= c.owner.username %></b> - <br> <%= c.body %></li>
                                        <% if(currentUser && c.owner.equals(currentUser._id)) {%>
                                            <form action="/trips/<%= trip._id%>/comments/<%= c._id %>?_method=DELETE"
                                                method="POST">
                                                <button><i class="far fa-trash-alt"></i></button>
                                            </form>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const trip = <%-JSON.stringify(trip)%>
    </script>
<script>
    mapboxgl.accessToken = '<%-process.env.TOKEN%>';
    var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: trip.geometry.coordinates, // starting position [lng, lat]
        zoom: 10 // starting zoom
    });

    new mapboxgl.Marker()
        .setLngLat(trip.geometry.coordinates)
        .addTo(map)
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script> -->
<!-- <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

<script>
  new Glide('.glide').mount()
</script>
<!-- /* final commit */ -->
